*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#35325c;;
    font-family: 'poppins',sans-serif;
    min-height: 100vh;
}
.main{
    position: relative;
    width: 300px;
   height:350px;
   border: 3px solid blue;
    transition: 0.5s;
    margin: 50px;
   
}
.main .sub{
    position: absolute;
    inset: 0;
    background: #0a112d;
    overflow: hidden;
}

.main .imgbx{
    position: absolute;
    top: -50px;
    left: 23%;
    height: 150px ;
    width: 150px;
    background: #000;
    border-radius: 50%;
    border: 3px solid orange;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.main .imgbx img{
    position: absolute;
     margin-bottom: 5px;
   
     height: 200px;
    filter: grayscale(0.5);
}
.main .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
   
}
.main .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
}
.main .content .details h2{
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
}
main .content .details .about{
  font-size: 1.2em;  
  position: absolute;
  top:90px;  
}
.icon{
    margin:20px;
     display: flex; 
    position: relative;
    justify-content: space-between;
    margin: 20px 0;
}
.icon .icon-img{
    height: 50px;
}
body h1{
 display: block;
 margin-top: -40rem;
}
.heading{
    display: flex;
     justify-content: center;
     margin-top: 50px;
    height: 80px;
    width: 80%;

}
.heading1{
    text-align: center;
    color: rgb(236, 234, 230);
   font-size: 50px;
   overflow: hidden;
}
.icon-img:hover{
    transition: 1s;
    transform: scale(1.1);
}
.about{
    
    color: #fff;
}

/* side bar */

 /* .sidebar .sidebar-content {
    position: fixed;
    top: 192px; 
    bottom: 0;
    right: 0;
    background-color: #0a112d;
height: 91vh;
    /* height: 460px; 
    width: 60px;
    border-radius: 10px 0 0 10px;
} 
.sidebar-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; 
    color: white;
    font-size: 25px;
    /* margin: 40px; 
    margin: 50px 0;

}

.bar:hover{
    /* background-color: #f4700b; 
    color: #f4700b;
    font-size: 27px;
    transition: .3s ease-in-out;
}
.bar i{
    margin: auto;
}
 */

/* Footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a112d;
    color: white;
    padding: 20px 80px;
}

.footer-content {
    margin: 0 20px;
}

.footer-content a {
    margin: 20px 0;
    color: #F86F03;
    display: block;
    font-weight: bold;
}

.footer-content h4 {
    margin: 20px 0;
    font-size: 25px;
}

.footer-para {
    width: 700px;
}

.footer-para h4 {
    font-size: 35px;
}



.footer-content a{
    text-decoration: none;
}





@media screen and (max-width: 600px) {
    .sidebar .sidebar-content {
        top: 673px;
        height: 60px;
        width: 100%;
    }

    .sidebar-content {
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }
    .sidebar-content a {
        font-size: 20px;
        margin: 10px;
    
    }

    /* footer */
    
    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px;
    }

    .footer-para {
        width: 345px;
    }

}