*{
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color:#ffffff;
}
.main-contanier{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sub-contanier{
    position: relative;
    margin: 20px 0px;
    height: 500px;
    width: 600px;
    border-radius: 15px;
}
.img{
    height: 30rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    border-radius: 15px;
    margin: 0 -15px;
    /* filter: drop-shadow(0 0 8px rgb(7, 7, 235));*/
} 
.ex-top-mar{
    position: absolute;
    top: -5rem;
}
.font-size{
    font-size: 80px;
    color: orange;
    padding: 15px 23px;
}
.font{
    font-size: 40px;
    padding: 15px 23px;
    color: orange;
}
.para{
    padding: 15px 23px;
    font-size: 17px;
    color: black;
}
.font-color{
    color: black;
}
.header-card-btn{
    margin-top:20px; 
    margin-left: 1.5rem;  
    background-color:orange;
    padding:5px 9px 14px 9px;
    border:none;
    font-size:20px;
    font-weight:bold;
    border-radius:8px;
    color:black;
    box-shadow: 0 1px 8px 1px black;
}

.populer-sports-main-container{
    height:100vh;
    background-color:#e1e1e9;

}

.populer-sports-men-header{
    text-align:center;
    padding:15px;
    font-size:50px;

}

.populer-sports-men-header span{
    font-size:50px;     
    color:blue;

}

.font-key
{
    text-align: center;
    font-size: 60px;
    margin: 35px 0;
}

.populer-sportsmen-container{
    display:flex;
    justify-content:space-evenly;
    align-item:center;
    margin-top:40px;
    flex-wrap:wrap;  
 }
 .sportsmen-card{
    height: 389px;
    width: 286px;
    border:2px solid orange;
    padding:5px;
    background-color:white;
    transition: 0.7s ease-in-out;
    border-radius:5px;
    }
    .sportsmen-card:hover{
        box-shadow: 0px 0px 30px -10px gray;
        transform:translateY(-10px)
    
    }

    .sportsmen-card-img{
        height:200px;
        width:100%;
        object-fit:center;
    }
.cricketer-name {
    text-align: center;
    padding: 10px;
}
.sportsmen-card-title{
    text-align:center;
    padding:10px;
    }
    .sport-men-card-dec{
        text-align:justify;
        margin: 10px 10px;
    
        font-size:10px;
        font-weight:bold;
        line-height:1.6;
    
    }
    .sport-men-card-btn{
        display:block;
        margin: 0px auto;
        padding: 10px 30px;
        border-radius:30px; 
        color:white;
        background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
        border:none;
        font-weight:bold;
    }

/* .bg{
    background: linear-gradient(rgb(0, 0, 0,0.9),rgb(0 ,0,0,0.8 ) ),url(./../images/bg1.jpeg);
    opacity: 0.9;
    background-size: cover;
    opacity: 0.9;
} */
.chess{
    margin-top: -175px;
    margin-left: 350px;
    height: 200px;
    border-radius: 5px;
}
.ex-height{
    height: 25rem; 
    margin-top: 30px; 
}
.bg1{
    background-color: #e1e1e9;
}

/* Side Bar */
.sidebar .sidebar-content {
    position: fixed;
    /* top: 192px; */
    bottom: 0;
    right: 0;
    background-color: #0a112d;
height: 91vh;
    /* height: 460px; */
    width: 60px;
    border-radius: 10px 0 0 10px;
}

.sidebar-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    color: white;
    font-size: 25px;
    /* margin: 40px; */
    margin: 50px 0;

}

.bar:hover{
    /* background-color: #f4700b; */
    color: #f4700b;
    font-size: 27px;
    transition: .3s ease-in-out;
}
.bar i{
    margin: auto;
}











@media screen and (max-width: 600px){
    .font-size{
       font-size: 30px;
    }
    .font{
        font-size: 20px;
    }
    .para{

    }
    .img{
    height: 20rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    border-radius: 15px;
    margin: 0 -15px;
    }
    .ex-height{
        height: 20rem;
    }
    .sub-contanier{
        margin: 5px 0;
    }
    .player-info{
        margin: 10px 0;
    }
    .chess{
        margin-top: -15px;
        margin-left: 350px;
        height: 100px;
        border-radius: 5px;
    }
    .populer-sports-main-container {
        background-color: #e1e1e9;
        height:1800px;
    }
    .populer-sports-men-header {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    .populer-sportsmen-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .sportsmen-card {
        height: 370px;
        width: 300px;
        border: 2px solid orange;
        padding: 5px;
        background-color: white;
        transition: 0.7s ease-in-out;
        border-radius: 5px;
        margin:10px;
    }
    .sportsmen-card:hover{
        box-shadow: 0px 0px 30px -10px gray;
        transform:translateY(-10px)
    
    }
    .sportsmen-card-img {
        height: 160px;
        width: 100%;
        object-fit: center;
    }
    .sport-men-card-dec {
        text-align: justify;
        margin: 7px 10px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.6;
    }
    .sport-men-card-btn {
        display: block;
        margin: 0px auto;
        padding: 10px 30px;
    border-radius:30px; 
    color:white;
        background-color: orange;
        border: none;
        font-weight: bold;
    }

    /* Side bar */
    .sidebar .sidebar-content {
        top: 673px;
        height: 60px;
        width: 100%;
    }

    .sidebar-content {
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }
    .sidebar-content a {
        font-size: 20px;
        margin: 10px;
    
    }
}
@media screen and(min-width:601px) and(max-width:768px) {
    
}
@media screen and(min-width:769px) and(max-width:992px) {
    
}
@media screen and(min-width:993px) and(max-width:1200px) {
    
}
