*{
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color:#ffffff;
}
.main-contanier{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sub-contanier{
    position: relative;
    margin: 20px 0px;
    height: 500px;
    width: 600px;
    border-radius: 15px;
}
.img{
    height: 30rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    border-radius: 15px;
    margin: 0 -15px;
    /* filter: drop-shadow(0 0 8px rgb(7, 7, 235));*/
} 
.ex-top-mar{
    position: absolute;
    top: -5rem;
}
.font-size{
    font-size: 80px;
    color: orange;
    padding: 15px 23px;
}
.font{
    font-size: 40px;
    padding: 15px 23px;
    color: orange;
}
.para{
    padding: 15px 23px;
    font-size: 17px;
    color: black;
}
.font-color{
    color: black;
}
.header-card-btn{
    margin-top:20px; 
    margin-left: 1.5rem;  
    background-color:orange;
    padding:5px 9px 14px 9px;
    border:none;
    font-size:20px;
    font-weight:bold;
    border-radius:8px;
    color:black;
    box-shadow: 0 1px 8px 1px black;
}

.cricket-player-container-main-header {
    height: 100vh;
    background-color: #e1e1e9;
    /* display: flex; */


}

.popular-sports-men-header {
    text-align: center;
    font-size: 60px;

    /* margin-left: 450px; */

}


.sports-cards-conatiner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.font-key
{
    text-align: center;
    font-size: 60px;
    margin: 35px 0;
}

.sports-cards {
    border: 3px solid orange;
    height: 389px;
    width: 286px;
    margin-top: 50px;
    height: 420px;
    padding: 4px;
    transition: all 0.6s ease-in-out;
}
.sports-cards:hover {
    box-shadow: 0px 0px 30px -10px gray;
    transform: translateY(-10px)
}


.card-imges {
    height: 200px;
    width: 100%;
    object-fit: center;
    /* display: flex;
   margin-left: auto;
   margin-right: auto; */
}

.cricketer-name {
    text-align: center;
    padding: 10px;
}

.know-more-btn {
    /* padding: 10px;
   margin-left: 20px;
   margin-top: 20px;
   background-color: orange;
   font-size: 20px;
   font-weight: bold; */
    display: block;
    margin: 0px auto;
    padding: 10px 30px ;
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    color: white;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    

}
.para-about-cricket {
    text-align: justify;
    margin: 10px 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
}


/* .bg{
    background: linear-gradient(rgb(0, 0, 0,0.9),rgb(0 ,0,0,0.8 ) ),url(./../images/bg1.jpeg);
    opacity: 0.9;
    background-size: cover;
    opacity: 0.9;
} */
.chess{
    margin-top: -175px;
    margin-left: 350px;
    height: 200px;
    border-radius: 5px;
}
.ex-height{
    height: 25rem; 
    margin-top: 30px; 
}
.bg1{
    background-color: #e1e1e9;
}














@media screen and (max-width: 600px){
    .font-size{
       font-size: 30px;
    }
    .font{
        font-size: 20px;
    }
    .para{

    }
    .img{
    height: 20rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    border-radius: 15px;
    margin: 0 -15px;
    }
    .ex-height{
        height: 20rem;
    }
    .sub-contanier{
        margin: 5px 0;
    }
    .player-info{
        margin: 10px 0;
    }
    .chess{
        margin-top: -15px;
        margin-left: 350px;
        height: 100px;
        border-radius: 5px;
    }
}
@media screen and(min-width:601px) and(max-width:768px) {
    
}
@media screen and(min-width:769px) and(max-width:992px) {
    
}
@media screen and(min-width:993px) and(max-width:1200px) {
    
}
