body,
* {
    padding: 0;
    margin: 0;
}

.main-conatiner-page {
    background-color: #000033;
    /* height: 100vh; */
}

.display-conatiner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.para-1 {
    color: white;
    /* margin-top: 50px; */
    line-height: 1.5;

}

.para-2 {
    line-height: 1.5;
}

.two-conatiner {
    /* background-color: aqua; */
    justify-content: space-evenly;
    height: 600px;
    width: 600px;
    /* padding-top: 10px; */
    /* margin-top: 50px; */
}

.ghost-img {
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */
    /* padding-top: 60px; */
    /* border: 2px solid blue; */
    border-bottom: 5px solid blue;
    border-radius: 10px;
    margin-top: 50px;
}

.ghost-img:hover {
    box-shadow: 2px 0px 40px 10px rgba(31, 231, 81, 0.468);
}

.two-conatine img {
    box-shadow: 10px 10px 80px 20px red;
}

.title-container {
    margin-top: 110px;
}

.gaming-heading {
    font-size: 60px;
    color: white;
    margin-top: 80px;


}

.join-now-btn {
    border: 2px solid blue;
    padding: 10px 15px 10px 15px;
    /* color: white; */
    font-weight: bolder;
    font-size: 15px;
    margin-top: 30px;
    color: white;
    background-color: #000033;
}

.join-now-btn:hover {
    background-color: aqua;
    color: blue;
}

.tittle-conatiner-gaming {
    margin-top: 150px;
}

.conatiner-2 {
    /* background-color:cadetblue; */
    height: 100vh;
    background-color: #000033;
    margin-top: -40px;
}

.display-conatiner-2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.about-us {
    text-align: justify;
    /* background-color: chartreuse; */
    justify-content: space-evenly;
    height: 400px;
    width: 600px;
    /* padding-top: 50px; */
    color: white;

}

.gaming-main-card-conatiner {
    /* height: 100vh; */
    background-color: #000033;
    margin-bottom: 50px;
}

.Popular-Games-heading {
    /* padding-top: 30px; */
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 2px;
}

.card-conatiner-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards {
    border: 3px solid black;
    /* height: 400px; */
    width: 300px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #00004d;
}

.cards:hover {
    box-shadow: 0 0 15px 0.5px #8080ff;
    border-radius: 10px;
}

.card-conatiner-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;

}

.card-img {
    /* height: 200px; */
    width: 300px;

}
.about-gaming
{
    padding: 10px;
}

.game-name {
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.horizonatl-line {
    border: 15px double white;
    border-radius: 10px;
}

.conatainer-price {
    display: flex;
}

.play-now-btn {
    border: 2px solid blue;
    padding: 10px 15px 10px 15px;
    /* color: white; */
    font-weight: bolder;
    font-size: 15px;
    /* margin-top: 30px; */
    color: white;
    background-color: #000033;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.pricing {
    color: white;
    font-size: 20px;
    margin-left: 10px;

}

.price-div {
    margin-top: 15px;
}

.doller {
    font-size: 20px;
    color: aqua;
    margin-top: 10px;
    margin-left: 10px;
}

.play-now-btn:hover {
    background-color: aqua;
    color: blue;
}

.game-footer-container {
    background-color: red;
    height: 100vh;
}


.sidebar .sidebar-content {
    position: fixed;
    /* top: 192px; */
    bottom: 0;
    right: 0;
    background-color: #0a112d;
    height: 91vh;
    /* height: 460px; */
    width: 60px;
    border-radius: 10px 0 0 10px;
}

.sidebar-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    color: white;
    font-size: 25px;
    /* margin: 40px; */
    margin: 50px 0;
}

.bar:hover {
    /* background-color: #f4700b; */
    color: #f4700b;
    font-size: 27px;
    transition: .3s ease-in-out;
}

.bar i {
    margin: auto;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a112d;
    color: white;
    padding: 20px 80px;
}

.footer-content {
    margin: 0 20px;
}

.footer-content a {
    margin: 20px 0;
    color: #F86F03;
    display: block;
    font-weight: bold;
}

.footer-content h4 {
    margin: 20px 0;
    font-size: 25px;
}

.footer-para {
    width: 700px;
}

.footer-para h4 {
    font-size: 35px;
}


/* 
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a112d;
    color: white;
    padding: 20px 80px;
}

.footer-content {
    margin: 0 20px;
}

.footer-content a {
    margin: 20px 0;
    color: #F86F03;
    display: block;
    font-weight: bold;
}

.footer-content h4 {
    margin: 20px 0;
    font-size: 25px;
}

.footer-para {
    width: 700px;
}

.footer-para h4 {
    font-size: 35px;
}

.footer {
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    /* margin-top: 487px; */
    margin: 0;
}

.footer-para {
    width: 345px;
} */


@media screen and (max-width:600px) {
    .ghost-img {
        height: 259px;
        width: 259px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 30px; */
        /* padding-top: 60px; */
        /* border: 2px solid blue; */
        border-bottom: 5px solid blue;
        border-radius: 10px;
        margin-top: 50px;
    }

    .gaming-2-img {


        height: 365px;
        margin-top: 18px;
    }
    .main-conatiner-page {
        background-color: #000033;
        /* height: 100vh; */
        padding: 11px;
    }
    .para-1 {
        color: white;
        /* margin-top: 50px; */
        line-height: 1.5;
        padding: 10px;
    }
    .about-gaming {
        padding: 10px;
        margin-bottom: 16px;
        font-size: 36px;
    }
    .tittle-conatiner-gaming {
        margin-top: -35px;
    }
   .para-2 {
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 37px;
    }
    .Popular-Games-heading {
        padding-top: 185pxx;
        text-align: center;
        color: white;
        font-size: 60px;
        margin-bottom: 58px;
        margin-top: 82px;
    }
    
.cards {
    border: 3px solid black;
    /* height: 400px; */
    width: 300px;
    flex-wrap: wrap;
    margin-bottom: 73px;
    border-radius: 10px;
    background-color: #00004d;
}
.
.gaming-2-img {
    margin-left: -45px;
}
.gaming-heading {
    font-size: 43px;
    color: white;
    margin-top: 80px;
    margin-bottom: 16px;
}
}