body{
    margin:0px;
    padding:0px;
    /* font-family: 'Playfair Display'; */
    background-color:white;
    font-family: 'Poppins';     
}
html {
    scroll-behavior: smooth;
  }

.header-container{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;

}

.header-card{
    height:100vh;
    border-radius:5px;
    width:600px;
    padding:15px;
}
.title-container{
    text-align:justify;
    align-items:center;     
}
.title-header-1{
    margin-top:20px;
    font-size:80px;
    color:orange;
}
.title-header-2{
    line-height:2;
    font-weight:bold;
    color:#1f1919;
    font-size:19px;
}
.title-header-3{
    line-height:2;
    font-size:50px;
    
}
.title-header-3 span {
    color:blue;
}

/* bob img  */
.header-blob{
    position:relative;
    
}
.header-card-img{
    position:absolute;
    display:block;
    height:550px;
    margin: 0 auto;
    margin-top:10px;
    width:300px;
    position:absolute;
    left:100px;
}


.header-card-blob-img{
    
    height:570px;
    width:540px;
}
.header-card-btn{
    margin-top:20px;   
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    padding: 10px 60px;
    border:none;
    font-size:20px;
    font-weight:bold;
    border-radius:30px;
    color:white;
}
.populer-sports-main-container{
    height:100vh;
    background-color:#e1e1e9;

}
.populer-sports-men-header{
    text-align:center;
    padding:15px;
    font-size:50px;

}
.populer-sports-men-header span{
    font-size:50px;     
    color:blue;

}
.populer-sportsmen-container{
   display:flex;
   justify-content:space-evenly;
   align-item:center;
   margin-top:40px;
   flex-wrap:wrap;  
}
.sportsmen-card{
height: 389px;
width: 286px;
border:2px solid orange;
padding:5px;
background-color:white;
transition: 0.7s ease-in-out;
border-radius:5px;
}
.sportsmen-card:hover{
    box-shadow: 0px 0px 30px -10px gray;
    transform:translateY(-10px)

}
.sportsmen-card-img{
    height:200px;
    width:100%;
    object-fit:center;
}
.sportsmen-card-title{
text-align:center;
padding:10px;
}
.sport-men-card-dec{
    text-align:justify;
    margin: 10px 10px;

    font-size:10px;
    font-weight:bold;
    line-height:1.6;

}
.sport-men-card-btn{
    display:block;
    margin: 0px auto;
    padding: 10px 30px;
    border-radius:30px; 
    color:white;
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    border:none;
    font-weight:bold;
}

.rules-sec-1{
    padding:20px;
}

.rules-container{
    font-weight:bold;
    padding:20px;
}
ol li{
    padding:8px;
}
.img-rules{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.football-rules-container{
    margin-top:140px;
    
}

/* ecommerce card css  */

.ec-cards-conatiner-main {
    background-color: aliceblue;
    height: 100vh;
}

.ec-cards-display {
    display: flex;
    justify-content: space-evenly;
 align-items : center;
 flex-wrap:wrap
  ;
}

.ec-cards-new {
    border: 3px solid #FF9800;
    height: 416px;
    width: 265px;
    margin-top: 43px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgb(112, 111, 111);
    background-color: white;
}

.ec-cards-new:hover {
    box-shadow: 7px 7px 20px 1px grey;
}


    .ec-bat-new {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 158px;
        padding-top: 30px;
    }


.collection-heading {
    text-align: center;
    color: #000066;
    padding-top: 40px;
    font-size: 50px;
}

.product-name-container {
    text-align: center;
    margin-top: 20px;
}

.product-name-heading {
    
        color: #000066;
        font-size: 20px;
    
}

.rupee-icon {
    height: 25px;
    color: #000066;
}

.span-2999 {
    color: #000066;
    font-size: 30px;

}

/* .rupee-icon span
{
height: 30px;
color: #000066;
} */

.price {
    /* position: relative;
    left: 80px;
    top: 30px; */
    height: 5px;
    text-align: center;
    margin-top: 20px;
    /* background-color: aqua; */
}

.rating-icons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    margin-top: 30px;
    color: #000066;
}

.btn-buy-know {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 30px ;
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    color: white;
    border-radius: 30px;
    border: none;
}

.btn-buy-know:hover {
    background-color: #cacaee;
}

/* <!-- sports notable section  --> */
.moment-main-container{
    height:100vh;
}
.moment-container{
    display:flex;
    justify-content:space-evenly;
    align-items:center ;
    margin-top:20px; 
    flex-wrap:wrap;
   }

.moment-header{
    margin:30px auto;
    text-align:center;
    font-size:50px;
    color: #000066;


}

.moment-card{
    border:2px solid black;
    height:400px;
    width:350px;
    border:2px solid orange;
    box-shadow: 0 0 15px 1px rgb(112, 111, 111);
    border-radius:5px;
}
.moment-card-vdo {
    padding:5px;

    width:100%;
    object-fit:center;
}

.moment-title{
    text-align:center;
    color: #000066;
    margin-top:10px;
    line-height:2;
}
.moment-btn-container{
   text-align:center;
   margin-top:8px;
}
.moment-btn{
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    padding: 10px 30px;
    color:#ffff;
    border:none;
    border-radius:30px;
}

/* footer  */
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a112d;
    color: white;
    padding: 20px 80px;
}

.footer-content {
    margin: 0 20px;
}

.footer-content a {
    margin: 20px 0;
    color: #F86F03;
    display: block;
    font-weight: bold;
}

.footer-content h4 {
    margin: 20px 0;
    font-size: 25px;
}

.footer-para {
    width: 700px;
}

.footer-para h4 {
    font-size: 35px;
}

@media screen and (max-width:600px){
    .title-header-1 {
        margin-top: 20px;
        font-size: 48px;
        color: orange;
    }
    .title-header-3 {
        line-height: 2;
        font-size: 33px;
    }

    .title-header-2 {
        line-height: 2;
        font-weight: bold;
        color: #1f1919;
        font-size: 16px;
    }
    ..header-card-btn {
        margin-top: 16px;
        background-color: orange;
        padding: 10px 30px;
    border-radius:30px; 
    color:white;
        border: none;
        font-size: 15px;
        font-weight: bold;
        border-radius: 8px;
        color: black;
        box-shadow: 0 1px 8px 1px black;
    }
    .header-blob{
        position:relative;
        
    }
    .header-card-img{
        position: absolute;
        display: block;
        height: 537px;
        margin: -16px auto;
        width: 300px;
        position: absolute;
        left: 94px;
    }
    
    
    .header-card-blob-img{
        
        height:550px;
        width:540px;
    }
    .header-card {
        height:550px;
        border-radius: 5px;
        width: 558px;
        padding: 16px;
    }

    /* .populer-sports-main-container  */

    .populer-sports-main-container {
        background-color: #e1e1e9;
        height:1800px;
    }
    .populer-sports-men-header {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }

    .populer-sportsmen-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .sportsmen-card {
        height: 370px;
        width: 300px;
        border: 2px solid orange;
        padding: 5px;
        background-color: white;
        transition: 0.7s ease-in-out;
        border-radius: 5px;
        margin:10px;
    }
    .sportsmen-card:hover{
        box-shadow: 0px 0px 30px -10px gray;
        transform:translateY(-10px)
    
    }
    .sportsmen-card-img {
        height: 160px;
        width: 100%;
        object-fit: center;
    }

    .sport-men-card-dec {
        text-align: justify;
        margin: 7px 10px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.6;
    }
    .sport-men-card-btn {
        display: block;
        margin: 0px auto;
        padding: 10px 30px;
    border-radius:30px; 
    color:white;
        background-color: orange;
        border: none;
        font-weight: bold;
    }
    /* rules css  */
    .img-rules {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 197px;
    }

    /* ecomerce-card  */
    .collection-heading {
        text-align: center;
        color: #000066;
        padding-top: 40px;
        font-size: 29px;
    }
    .ec-cards-conatiner-main {
        background-color: aliceblue;
        height: 769px;
    }

    .ec-cards-new {
        border: 3px solid #FF9800;
        height: 411px;
        width: 261px;
        margin-top: 37px;
        border-radius: 5px;
        box-shadow: 0 0 15px 1px rgb(112, 111, 111);
        background-color: white;
    }
    /* moment card  */
    .moment-header {
        margin: 10px auto;
        text-align: center;
        font-size: 35px;
        color: #000066;
        margin-top: 1164px;
    }
    .moment-main-container {
        height: 800px;
    }

    
.moment-card {
    border: 2px solid black;
    height: 400px;
    width: 262px;
    border: 2px solid orange;
    box-shadow: 0 0 15px 1px rgb(112, 111, 111);
    /* border-radius: 5px; */
    margin-top: 19px;
}

.moment-btn {
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    padding: 8px 20px;
    color: #ffff;
    border: none;
    border-radius: 30px;
}

/* footer css  */
.footer {
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    margin-top:600px;
    
}

.footer-para {
    width: 345px;
}

          
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    .header-card {
        /* height: 100vh; */
        border-radius: 5px;
        width: 592px;
        padding: 15px;
    }
    .header-card {
        height: 503px;
        border-radius: 5px;
        width: 657px;
        padding: 15px;
    }

     /* bob img css  */
    .header-blob{
        position:relative;
        
    }
    .header-card-img{
        position: absolute;
        display: block;
        height: 520px;
        margin: -30px auto;
        width: 320px;
        position: absolute;
        left: 94px;
    }
    
    
    .header-card-blob-img{
        
        height:530px;
        width:540px;
    }
    /* .populer-sports-main-container  */

    .populer-sports-main-container {
        background-color:#e1e1e9;
        height:950px;
    }
    .populer-sports-men-header {
        text-align: center;
        padding: 14px;
        font-size: 45px;
    }

    .populer-sportsmen-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
        flex-wrap: wrap;
    }
    .sportsmen-card {
        height: 390px;
        width: 320px;
        border: 2px solid orange;
        padding: 5px;
        background-color: white;
        transition: 0.7s ease-in-out;
        border-radius: 5px;
        margin:10px;
    }
    .sportsmen-card:hover{
        box-shadow: 0px 0px 30px -10px gray;
        transform:translateY(-10px)
    
    }
    .sportsmen-card-img {
        height: 160px;
        width: 100%;
        object-fit: center;
    }

    .sport-men-card-dec {
        text-align: justify;
        margin: 7px 10px;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.5;
    }
    .sport-men-card-btn {
        display: block;
        margin: 0px auto;
        padding: 10px 30px;
    border-radius:30px; 
    color:white;
        background-color: orange;
        border: none;
        font-weight: bold;
        font-size:15px;
    }
        /* rules css  */
        .img-rules {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 397px;
        }
        /* ecomerce card  */
        .collection-heading {
            text-align: center;
            color: #000066;
            padding-top: 40px;
            font-size: 53px;
        }
        .ec-cards-new {
            border: 3px solid rgb(255, 152, 0);
            height: 418px;
            width: 307px;
            margin-top: 64px;
            border-radius: 5px;
            box-shadow: rgb(112, 111, 111) 0px 0px 15px 1px;
            background-color: white;
        }
        .ec-bat-new {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 168px;
            padding-top: 24px;
        }

        /* moment card  */
    .moment-header {
        /* margin: 10px auto; */
        text-align: center;
        font-size: 45px;
        color: #000066;
        margin-top: 500px;
    }

    
.moment-card {
    border: 2px solid black;
    height: 400px;
    width: 262px;
    border: 2px solid orange;
    box-shadow: 0 0 15px 1px rgb(112, 111, 111);
    /* border-radius: 5px; */
    margin-top: 19px;
}

.moment-btn {
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    padding: 11px 25px;
    color: #ffff;
    border: none;
    border-radius: 30px;
}

.moment-header {
    /* margin: 10px auto; */
    text-align: center;
    font-size: 58px;
    color: #000066;
    margin-top: 10px;
}
.moment-main-container {
    height: 800px;
}
/* footer */
.footer {
    /* flex-direction: column; */
    /* justify-content: center; */
    padding: 10px 10px;
}

.footer-para {
    width: 345px;
}



        
           
}