* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
.l-n-c{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 80px;
    background-color: #0a112d;
    color:#F86F03;
    padding-bottom: 30px;
}

.latest-news h1{
    font-size: 60px;
    color:#0a1df6;
    margin: 40px;
}
.latest-news-heading{
    font-size: 40px;
    color: #F86F03;
    text-align: center;
    margin: 40px;
}


.l-n-p-c {
    margin: 0 30px;
}

.l-n-p-c ul li{
    color: white;
}

.l-n-p-klaas{
    color: black;
    font-size: 20px;
}

.news-img{
    width: 400px;
}

.news-img img{
    width: 100%;
    border-radius: 100px 0 100px 0;
}

.chess-news-image{
    width: 400px;
    margin: 0 30px;
}

.chess-news-image img{
    width: 100%;
    height: 289px;
    border-radius:  0 100px 0 100px;
    
}

.chess-news{
    display: flex;
    justify-content: space-evenly;
    
    padding: 0px 80px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a112d;
    color: white;
    padding: 20px 80px;
}

.footer-content {
    margin: 0 20px;
}

.footer-content a {
    margin: 20px 0;
    color: #F86F03;
    display: block;
    font-weight: bold;
    font-size: 17px;
}

.footer-content p {
    font-size: 18px;
}

.footer-content h4 {
    margin: 20px 0;
    font-size: 25px;
}

.footer-para {
    width: 700px;
}

.footer-para h4{
    font-size: 35px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a112d;
    color: white;
    padding: 20px 80px;
}

.footer-content {
    margin: 0 20px;
}

.footer-content a {
    margin: 20px 0;
    color: #F86F03;
    display: block;
    font-weight: bold;
}

.footer-content h4 {
    margin: 20px 0;
    font-size: 25px;
}

.footer-para {
    width: 700px;
}

.footer-para h4 {
    font-size: 35px;
}

.sidebar .sidebar-content {
    position: fixed;
    /* top: 192px; */
    bottom: 0;
    right: 0;
    background-color: #0a112d;
height: 91vh;
    /* height: 460px; */
    width: 60px;
    border-radius: 10px 0 0 10px;
}

.sidebar-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    color: white;
    font-size: 25px;
    /* margin: 40px; */
    margin: 50px 0;

}

.bar:hover{
    /* background-color: #f4700b; */
    color: #f4700b;
    font-size: 27px;
    transition: .3s ease-in-out;
}
.bar i{
    margin: auto;
}

/* media query */
@media screen and (max-width:600px){
    body{
        padding: 0 10px;
    }
    .latest-news h1{
        font-size: 35px;
    }
    
    .l-n-c{
        flex-direction: column;
        padding: 0 10px;
    }
    .news-img{
        width: 95%;
        margin: auto;
    }

    .news-img img{
        height: 289px;
    }
    .latest-news-heading{
        font-size: 32px;
    }

    .l-n-p-c {
        margin: 0;
    }

    .l-n-p-klaas{
        font-size: 18px;
    }

    .chess-news{
        flex-direction: column-reverse;
        padding: 0 10px;
    }

    .chess-news-image{
        width: 95%;
        margin: auto;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px;
        
    }

    .footer-para {
        width: 345px;

    }

    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px;
    }

    .footer-para {
        width: 345px;
    }

    .sidebar .sidebar-content {
        bottom: 0;
        /* top: 610px; */
        height: 60px;
        width: 100%;
        border-radius: 0 0 0 0;
    }

    .sidebar-content {
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }
    .sidebar-content a {
        font-size: 20px;
        margin: 10px;
    
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .latest-news h1{
        font-size: 47px;
    }
}