* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.tagline {
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    padding: 15px;
    font-size: 30px;
    color: white;
}

.home-img {
    /* background-image: linear-gradient((0,0,0,0.7),(0,0,0,0.7 black)),url("./../images/various-sport-equipments.avif");
     */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/various-sport-equipments.avif); */
    background-image: url(./../images/runing-home.jpg);
    /* opacity: 0.9px; */
    height: 45vw;
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    position: relative;
    padding: 30px 80px;
}

.home-back{
    width: 600px;
}
.home-back h1 {
    font-size: 80px;
    margin-bottom: 20px ;
    /*  */
}

.home-back p {
    font-size: 20px;
    margin: 10px 0;
    color: #0a112d;
    /* text-align: center; */
}

.home-back h2 {
    font-size: 40px;
    color: #e7751d;
    font-weight: bold;
    /* margin: 20px 0; */
}

.home-back .s-span {
    color: #F86F03;
}

.home-back .g-span {
    color: #525ee1;
}

.go-btn {
    padding: 10px 60px;
    font-size: 25px;
    color: white;
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    margin: 30px 0;
    border-radius: 30px;
    border: none;
}

.go-btn a {
    color: wheat;
    font-weight: bold;
}

.h-images {
    display: flex;
    margin-left: 50px;
}

.img-holder {
    padding: 4px;
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    transition: 0.5s ease-in-out;
    margin: 8px;
    /* border-radius: 0 120px 0 120px; */
}

.img-holder:hover {
    transform: translateY(-10px);
}

.img-holder img {
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* border-radius: 0 10px 0 10px; */
}

/* category css */
.padd {
    padding: 40px;
}

.category {
    padding: 40px;
    /* background-color: #0a112d; */
    background-color: #35325c;
}

.category h1 {
    text-align: center;
    font-size: 60px;
    color: #F86F03;
    margin: 20px 0;
}

.category-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-border {
    background: linear-gradient(45deg, #f4700b, rgb(7, 7, 241));
    padding: 3px;
    border-radius: 5px;
    margin: 20px 0;
    transition: 0.5s ease-in-out;
}

.category-card {
    text-align: center;
    background-color: #0a112d;
    border-radius: 5px;
    color: white;
    width: 400px;

}

.category-padd {
    padding: 20px;
}

.category-padd h2 {
    color: white;
}


.category-padd img {
    height: 239px;
}

.category-border:hover {
    transform: translateY(-10px);
}

.category-card h2 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.category-card button {
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
}


.category-card button a {
    color: white;
}

.category-card img {
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

/* collaboration section */
.collaboration-section {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding: 20px 80px;
}

.collabotaion-img img {
    width: 600px;
    margin: 20px;
}

.collaboration h1 {
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
    color: #0a1df6;
}

.collabotion-content h2 {
    font-size: 30px;
    color: #F86F03;
    margin: 30px;
}

.collabotion-content p {
    font-size: 18px;
    /* color:#525ee1; */
    margin: 20px;
    font-weight: bold;
}

.latest-news {
    padding: 0 80px;
    margin: 30px 0;
    background-color: #0a112d;
    color: white;
}

.latest-news h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 60px;
    color: #F86F03;
}

.news-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.news-para h2 {
    font-size: 40px;
    margin: 20px 0;
}

.news-para p {
    font-size: 17px;
    margin-bottom: 40px;
}

.news-para span {
    font-size: 20px;
    /* margin: 20px 0; */
}

.news-para a {
    font-size: 20px;
    /* background-color: transparent; */
    padding: 10px 30px;
    /* border: 2px solid #F86F03; */
    color: white;
    background: linear-gradient(140deg, #f4700b, rgb(7, 7, 241));
    width: 400%;
    margin: 20px 0;
    border-radius: 30px;
}

.news-img {
    margin: 0 20px;

}

.news-img img {
    border-radius: 15px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a112d;
    color: white;
    padding: 20px 80px;
}

.footer-content {
    margin: 0 20px;
}

.footer-content a {
    margin: 20px 0;
    color: #F86F03;
    display: block;
    font-weight: bold;
}

.footer-content h4 {
    margin: 20px 0;
    font-size: 25px;
}

.footer-para {
    width: 700px;
}

.footer-para h4 {
    font-size: 35px;
}

.sidebar .sidebar-content {
    position: fixed;
    /* top: 192px; */
    bottom: 0;
    right: 0;
    background-color: #0a112d;
height: 91vh;
    /* height: 460px; */
    width: 60px;
    border-radius: 10px 0 0 10px;
}

.sidebar-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    color: white;
    font-size: 25px;
    /* margin: 40px; */
    margin: 50px 0;

}

.bar:hover{
    /* background-color: #f4700b; */
    color: #f4700b;
    font-size: 27px;
    transition: .3s ease-in-out;
}
.bar i{
    margin: auto;
}


/* media query */

@media screen and (max-width:600px) {
    .home-img {
        flex-direction: column;
        padding: 10px;
        height: 120vw;
        background-size: 100% 120vw;
    }

    .h-images {
        margin-left: 0;
    }

    .img-holder img {
        height: 80px;
        margin: auto;
        /* border-radius: 0 30px 0 30px; */
    }

    /* .home-back {

        width: 296px;
        
        /* padding: 40px;
        border-radius: 0 10px 0 10px; */


    .home-back h1 {
        font-size: 30px;
        margin: 0;

    }

    .home-back p {
        font-size: 13px;
        margin: 5px 0;
    }

    .home-back h2 {
        font-size: 12px;
        /* margin: 20px 0; */
    }

    .go-btn {
        padding: 5px 25px;
        font-size: 10px;
        margin: 10px 0;
    }

    .tagline {
        font-size: 18px;
        padding: 10px;
    }

    .category-padd img {
        height: 200px;
    }

    .category-card {
        width: 312px;
    }

    .category h1 {
        font-size: 30px;
        margin: 5px 0;
    }

    .category-card h2 {
        font-size: 20px;
        color: #F86F03;
        margin: 0;
    }

    .category-card p {
        font-size: 13px;
    }

    .category-card button {

        padding: 10px 30px;
        border-radius: 30px;
        font-size: 10px;
        margin-top: 10px;
    }

    .collaboration h1 {
        font-size: 23px;
    }

    .collaboration-section {
        padding: 0 10px;
        flex-direction: column;
        text-align: center;
    }

    .collabotaion-img img {
        width: 90%;
        margin: 20px;
    }

    .collabotion-content {
        margin-bottom: 20px;
    }

    .collabotion-content h2 {
        font-size: 21px;
        margin: 6px;
    }

    .collabotion-content p {
        font-size: 13px;
        /* margin: 6px; */
    }

    .latest-news {
        padding: 0 30px;
    }

    .latest-news h1 {
        font-size: 34px;
        margin: 10px;
    }

    .news-content {
        flex-direction: column;
    }

    .news-para h2 {
        font-size: 20px;
        margin: 5px 0;
    }

    .news-para p {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .news-para span {
        font-size: 18px;
        /* margin: 20px 0; */
    }

    .news-para a {
        font-size: 15px;
        padding: 10px 30px;
        margin: 20px 0;
    }

    .news-img {
        margin: 40px auto;

    }

    .news-img img {
        width: 98%;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px;
    }

    .footer-para {
        width: 345px;
    }

    .sidebar .sidebar-content {
        top: 610px;
        height: 60px;
        width: 100%;
    }

    .sidebar-content {
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }
    .sidebar-content a {
        font-size: 20px;
        margin: 10px;
    
    }
}

@media screen and (min-width:601px) and (max-width:992px) {

    .home-img {
        flex-direction: column;
        padding: 20px;
        height: 120vw;
        background-size: 100% 120vw;
    }

    .h-images {
        margin-left: 0;
    }

    .img-holder img {
        height: 180px;
        margin: auto;
        /* border-radius: 0 30px 0 30px; */
    }

    .home-back {

        width: 539px;
        height: 233px;
        border-radius: 0 100px 0 100px;
    }

    .home-back h1 {
        font-size: 34px;
        margin: 10px;
    }

    .home-back p {
        font-size: 16px;
        margin: 10px 0;
    }

    .home-back h2 {
        font-size: 20px;
        margin: 0;
    }

    .go-btn {
        padding: 7px 40px;
        font-size: 18px;
        margin: 15px 0;
    }

    .tagline marquee {
        font-size: 22px;
    }

    .category h1 {
        font-size: 40px;
        margin-bottom: 15px 0;
    }

    .collaboration-section {
        padding: 0 10px;
        flex-direction: column;
        text-align: center;
    }

    .collabotion h1 {
        font-size: 40px;
        margin: 6px;
    }

    .latest-news {
        padding: 0 30px;
    }

    .latest-news h1 {
        font-size: 49px;
        margin: 10px;
    }

    .news-content {
        flex-direction: column;
    }

    .news-para {
        margin-bottom: 30px;
    }

    .news-img img {
        width: 98%;
    }
}

@media screen and (min-width:993px) and (max-width:1250px) {
    .home-img {
        padding: 25px;
    }

    .home-back {

        width: 947px;
        height: 360px;
        border-radius: 0 100px 0 100px;
    }

    .home-back h1 {
        font-size: 54px;
        margin: 15px;
    }

    .home-back p {
        font-size: 18px;
        margin: 15px 0;
    }

    .home-back h2 {
        font-size: 30px;
        margin: 0;
    }

    .go-btn {
        padding: 7px 40px;
        font-size: 20px;
        margin: 25px 0;
    }

    /* .tagline marquee{
            font-size: 22px;
        } */

    .category h1 {
        font-size: 50px;
        margin-bottom: 10px 0;
    }

    .img-holder img {
        height: 150px;
    }

    .collaboration-section {
        padding: 20px 40px;
    }

    .news-img img {
        width: 400px;
    }

    .latest-news {
        padding: 0 40px;
    }

    .collabotaion-img img {
        width: 400px;

    }
}